.absolute {
  position: absolute;
}

.absolute-icon {
  position: absolute;
  margin-left: 96px;
  margin-top: 96px;
}

.absolute-input {
  position: absolute;
  margin-left: 116px;
  margin-top: 116px;
}

.cartridge {
  height: 256px;
  width: 256px;
}

.cartridge-insert {
  animation: insertCartridge 2s ease-out forwards 1s;
}

.cartridge-remove {
  animation: removeCartridge 2s ease-out forwards 1s;
}

.cartridge-input {
  max-width: 128px;
}

.sav-img {
  width: 64px;
}

@keyframes insertCartridge {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 200px);
  }
}

@keyframes removeCartridge {
  0% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
